@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logoNavbar {
    height: 40px;
    widows: 40px;
    cursor: pointer;
}

header li, header a, header button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
} 

#flex {
    background-color: #24252A;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%; 
    padding-top: 2%;
}

header .nav__links {
list-style: none;
}

header .nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

header .nav__links li a {
    transition: all 0.3 ease 0s;
}

header .nav__links li a:hover {
    color: #0088a9
}

header button {
    padding: 2px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

header button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
